@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

/* FullCalendar Styling Overrides */

/* .fc-theme-standard .fc-scrollgrid {
  border: none;
}

.fc .fc-scrollgrid-section-header > * {
  border-top: none;
} */

.fc td.fc-day {
  border: 1px solid #eaeaea;
}

.fc .fc-col-header-cell-cushion {
  padding: 10px 4px;
  font-weight: 500;
  color: #333;
}

.fc .fc-daygrid-day-number {
  padding: 8px;
  color: #333;
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: #2d9bdb36;
}

/* .fc-day-sat,
.fc-day-sun {
  background-color: #a5a5a53b;
} */

.fc .fc-day-other .fc-daygrid-day-top {
  opacity: 0.5;
}

.fc-daygrid-day {
  background-color: white;
}

.fc-daygrid-more-link {
  color: #2196f3;
  font-size: 0.75rem;
  padding: 2px 5px;
}
