html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Inter";
}

.bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 84px;
  background-color: rgba(45, 156, 219, 0.1);
  height: calc(100vh - 59px);
  transition: width 0.3s;
  font-weight: 500;
}

.bar:hover {
  width: 262px;
}

.brand {
  font-size: 24px;
  color: #2d9cdb;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s;
}

.bar:hover .brand {
  opacity: 1;
}

.menu-label {
  color: #a5a5a5;
  font-size: 16px;
  transition: opacity 0.3s;
  padding-left: 16px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  overflow-y: auto;
}

.menu-item,
.footer-item {
  display: flex;
  align-items: center;
  padding: 16px;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
}

.menu-item:hover,
.footer-item:hover {
  background: #2d9cdb;
  color: white;
}

.menu-item img,
.footer-item img {
  margin: 0 auto;
  display: block;
  width: 28px;
  height: 28px;
  transition: filter 0.3s, margin-left 0.3s;
}

.bar:hover .menu-item img,
.bar:hover .footer-item img {
  margin-left: 16px;
}

.menu-item:hover img,
.footer-item:hover img {
  filter: brightness(0) invert(1);
}

.menu-item span,
.footer-item span {
  opacity: 0;
  transition: opacity 0.3s, margin-left 0.3s;
  position: absolute;
  left: calc(50px + 12px);
}

.bar:hover .menu-item span,
.bar:hover .footer-item span {
  opacity: 1;
  margin-left: 12px;
}

.logout {
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  transition: background 0.4s, width 0.3s, justify-content 0.3s;
}

.bar:hover .logout {
  justify-content: flex-start;
  width: 100%;
  height: 59px;
}

.logout p {
  opacity: 0;
  transition: opacity 0.3s, margin-left 0.3s;
  margin-left: 16px;
}

.bar:hover .logout p {
  opacity: 1;
  margin-left: -118px;
}

.logout:hover {
  background: #1e7bbf;
}

.logout img {
  margin: 0 auto;
  display: block;
  width: 28px;
  height: 28px;
  transition: filter 0.3s, margin-left 0.3s;
}

.bar:hover .logout img {
  margin-left: 118px;
}

.logout:hover img {
  filter: brightness(0) invert(1);
}

.log {
  display: flex;
  align-items: start;
  justify-content: start;
  padding: 30px;
  font-size: 12px;
  color: white;
  background-color: rgba(45, 156, 219);
  height: 59px;
}

.text {
  margin-left: 118px;
}

.log:hover {
  background-color: rgba(45, 156, 219, 0.5);
}

.selected {
  background-color: rgba(45, 156, 219);
  color: white;
  margin: 12px;
  border-radius: 12px;
}

.selected img {
  filter: brightness(0) invert(1);
}

@media (max-width: 768px) {
  .bar {
    width: 84px;
    height: 90vh;
  }

  .menu-item,
  .footer-item,
  .logout {
    padding: 10px;
  }

  .menu-item img,
  .footer-item img,
  .logout img {
    width: 24px;
    height: 24px;
  }

  .logout {
    height: 59px;
  }

  .log {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .bar {
    width: 60px;
  }

  .menu-item,
  .footer-item,
  .logout {
    padding: 8px;
  }

  .menu-item img,
  .footer-item img,
  .logout img {
    width: 20px;
    height: 20px;
  }

  .menu-item span,
  .footer-item span,
  .logout p {
    display: none;
  }
}
